<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
  <parameter name="browser" value="firefox"/>
  <parameter name="url" value="http://www.nethorizonconsultancy.com/Seeker.aspx"/>
  
    <classes>
      <class name="testcases.LoginTestSeeker"/>
      
    </classes>
  </test>
  
  <test name="Test2">
  <parameter name="browser" value="firefox"/>
  <parameter name="url" value="http://www.nethorizonconsultancy.com/Provider.aspx"/>
  
  <classes>
  <class name="testcases.LoginTestProvider"/>
  </classes>
  </test>
  
</suite> <!-- Suite -->
